# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.env
.venv
venv/
ENV/

# Conda
.conda/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Distribution
build/
dist/
*.egg-info/

# ChromaDB
vector_store/

# OS
.DS_Store
Thumbs.db

# Document
docs/

# Runtime data
data/chroma/